name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          echo "No dependencies to install"

      - name: Run tests
        run: |
          echo "No tests yet"

      - name: Build project
        run: |
          echo "Build step completed"
